<div class="container">

    <h1>Crear Nuevo Empleado</h1>

    <form action="/crear" class="my-2" method="POST">

        <input 
            type="text"
            placeholder="Ingrese Nombre"
            class="form-control my-2"
            name="Nombre"
        >

        <input 
            type="text"
            placeholder="Ingrese Apellido"
            class="form-control my-2"
            name="Apellido"
        >

        <input 
            type="text"
            placeholder="Ingrese Correo"
            class="form-control my-2"
            name="email"
        >

        <input 
            type="text"
            placeholder="Ingrese Ãrea de trabajo"
            class="form-control my-2"
            name="Area_Trabajo"
        >

        <button
            type="submit"
            class="btn btn-dark btn-block"
        >
            Agregar
        </button>

    </form>

</div>

