<h1 class = "text-center mb-3">{{body}}</h1>
<form action="/delete" method ="DELETE" class="mb-4">
<div class="form-group">
    <label for="Nombre">Nombre</label>
    <input type="Id" name="Id" class ="form-control">

</div>


<input type="submit" value ="Borrar miembro" class="btn">
</form>