<p><a href="/todos">Ver a todos los animales</a></p>        <!-- redirecciona a la p치gina todos -->

<p><a href="/primer">Ver al primer animal</a></p>           <!-- redirecciona a la p치gina primer -->

<p><a href="/todos/ordenadoA">Ver a todos los animales ordenados ascendentemente por nombre</a></p>        
<!-- redirecciona a la p치gina todos, pero ordenado alfabeticamente-->

<p><a href="/todos/ordenadoB">Ver a todos los animales ordenados descendentemente por nombre</a></p>        
<!-- redirecciona a la p치gina todos, pero ordenado descendentemente por nombre-->