<div class="row">
    <div class="col-md-6 p-2">
        <div class="container bg-info">
            <div class="row">
               
            </div>

            <div class="row">
                <div class="col">Nombre:</div>
                <div class="col">{{contratos.Nombre}}</div> 
            </div>
            
            
            <div class="row">
                <div class="col">Apellido:</div>
                <div class="col">{{contratos.Apellido}}</div>
            </div>

            <div class="row">
                <div class="col">Correo:</div>
                <div class="col">{{contratos.email}}</div> 
            </div>
            
            
            <div class="row">
                <div class="col">Área:</div>
                <div class="col">{{contratos.Area_Trabajo}}</div>
            </div>
         
         
            
        </div>
    </div>
</div>